/* CSS for Background */
body {
    background-image: url('../img/contact_bg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CSS for Navigation Bar */
.header-bg {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px; 
    padding-top: 40px;
}

.header-container {
    background-color: rgba(190, 167, 176,0.8); 
    backdrop-filter: blur(5px); 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0; 
    width: 100%; 
}

h1 {
    color: azure;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
    text-align: center; 
    margin-top: 200px; 
    margin-bottom: 230px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
}


.logo {
    width: 50px;
    height: auto; 
    margin-right: 20px; 
}

nav {
    margin-top: 0px;
    margin-right: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 90px; 
}

nav ul li a {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgba(204, 0, 82, 0.866); 
    font-weight: bold; 
}

nav ul li a:hover {
    color: rgb(11, 4, 16); 
}


/* CSS for About Us Section */
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-left: 85px;
    margin-right: 85px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside h2 {
    text-align:left; 
    margin-top: 0px;
}

aside {
    text-align: justify;
    max-width: 50%; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 1.40rem;
    color: white;
    margin-bottom: 0px;
}

img.about_img {
    padding-left: 25px;
    height: 270px;
    width: 42%; 
    border-radius: 9%;
}

/* CSS for Footer */
footer {
    background-color: rgba(190, 167, 176, 0.8);
    backdrop-filter: blur(5px); 
    padding: 20px; 
    text-align: center; 
    margin-top: 50px; 
}

/* CSS for Contact Container */
.contact-container {
    max-width: 600px; 
    margin: 0 auto; 
}

/* CSS for Social Media Icons */
.social-media img {
    width: 40px; 
    margin: 10px; 
}
